body {
  font-size: 16px;
}

@font-face {
  font-family: 'Graphik-Medium';
  src: url("../fonts/graphik/Graphik-Medium.otf");
}

@font-face {
  font-family: 'Graphik-Regular';
  src: url("../fonts/graphik/Graphik-Regular.otf");
}

.h1 {
  font-size: 2.6rem !important;
}

.h2 {
  font-size: 2rem !important;
}

nav {
  margin-top: 15px;
}

#logo {
  max-height: 40px;
}

.text-center {
  text-align: center;
}

#banner {
	background: inherit;
	height: 370px;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 5px;
  height: 100%;
}

#banner h1 {
	color: #314151;
  text-align: left;
  font-weight: 600;
}

#banner .display-1 {
  font-size: 7rem;
}

#banner .display-3 {
  font-size: 3.5rem;
}

#banner h1 .sub.header {
  font-size: 1.5rem;
	text-align: left;
	color: #314151;
}

body {
	background-image: url(../img/trinagleskewBG.svg);
  background-repeat: no-repeat;
  background-size: 12000px 6928.20323px;
  background-position: center -2800px;
  background-color: #e0ebed;
  z-index: 10;
}

.coolFont {
  font-family: 'Graphik-Regular', Arial, Helvetica, sans-serif !important;
}
.bold {
  font-family: 'Graphik-Medium', Arial, Helvetica, sans-serif !important;
}

.ui.header {
  font-family: 'Graphik-Medium', Arial, Helvetica, sans-serif !important;
}

.topbox .data {
  font-size: 1.5rem;
}

.topbox .title {

}
.topbox i {
  font-size: 2rem;
  line-height: 40px;
}

.ui.card .content.with-table {
  padding: 0;
}

.ui.table {
  border: none !important;
}

#redBox, #greenBox, #grayBox {
  color: white;
  cursor: pointer;
}

#redBox .col-3, #greenBox .col-3, #grayBox .col-3 {
  border-right: 1px solid white;
  height: 25px;
}

#redBox .col-9, #greenBox .col-9, #grayBox .col-9 {
  height: 30px;
  font-size: 12px;
  line-height: 14px;
}

.align-v {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.gridpos {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
}
.redBox {
  background-color: #A63446;
  border: 1px solid #922737;
}

.greenBox {
  background-color: #177e89;
  border: 1px solid #116c75;
}

.grayBox {
	background-color: #6c757d;
  border: 1px solid #5a6269;
}

.border-right {
	border-right: 1px solid white;
}

.ui.table td {
  font-size: 0.7rem;
}

#mb-top, #mb-bottom {
	max-width: 800px;
}

#mb-right {
	position: relative;
	left: 171px;
	width: 96px;
	float: right;
}

#mb-left {
	float: left;
	width: 96px;
	position: relative;
	right: 1px;
}

.macbook {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 25px 50px 25px;
}
.macbook img {
  width: 100%;
}

@media (max-width: 991px) {
  nav .container {
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100%;
  }
}

#mb-container {
	margin-bottom: 50px !important;
	width: 800px;
  margin: 0 auto;
  position: relative;
}

#mb-inner-container {
	width: 605px;
  height: 357px;
  overflow-y: scroll;
  overflow-x: hidden;
  float: left;
  position: absolute;
  left: 98px;
  bottom: 59px;
  margin-top: 15px;
  padding-right: 10px;
  padding-left: 10px;
}

.widget-img {
	width: 100%;
}

.card-sm {
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 12px;
}

.card {
	position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
}

.jumbotron {
	border-radius: 0;
}

.btn {
	border-radius: 0;
}

.m-b-15 {
	margin-bottom: 15px;
}

.m-l-50 {
	margin-left: 50px;
}

.macScroll::-webkit-scrollbar {
    width: 5px;
}

.macScroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.macScroll::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0,0,0,0.5);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
}
.macScroll::-webkit-scrollbar-thumb:window-inactive {
	background: #000;
}

#icon-rows {
  text-align: center;
  margin-bottom: 50px;
}

#icon-rows .column.with-icon .fal {
  color: white;
  font-size: 45px;
  text-align: center;
  text-shadow: 2px 1px #151c23;
}

#icon-rows p {
  color: white;
}

#contact {
  margin-top: 50px;
}

#popover {
  cursor: pointer;
}
#popover i {
  color: #0275d8;
}

#video {
  overflow-y: hidden;
}

#tryme {
  position: absolute;
  top: -6px;
  right: 4px;
}

#tryme img {
  width: 110px;
  transform: rotate(-38deg);
}

#tryme span {
  position: relative;
  bottom: 69px;
  left: 5px;
  font-size: 23px;
}

.ui.button.btn-outline-secondary:hover {
  background-color: #3c4f63;
  border-color: #fff;
}

.ui.button.btn-outline-secondary {
  color: #fff;
  text-transform: uppercase;
  background-color: transparent;
  border-radius: 0;
  border: 1px solid;
}

th {
  font-size: 10px;
  padding: 5px !important;
}

.apliaNewsData h5 a {
  font-size: 10px;
  margin-bottom: 3px;
}

.apliaNewsData h5 {
  line-height: 11px;
}

.apliaNewsData p {
  font-size: 8px;
  margin-bottom: 0;
}

.apliaNewsData a {
  font-size: 6px;
}

.apliaNewsData hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.scrollable {
  height: inherit;
  overflow-y: scroll;
}

.m-t-25 {
  margin-top: 25px;
}

.m-l-10 {
  margin-left: 10px;
}

.m-r-10 {
  margin-right: 10px;
}

.phone, .mail {
  text-align: center;
}

.white {
  background: #fff;
  padding-top: 50px;
}

.black {
  color: #3a3a3a !important;
}

.column img {
  width: 100%;
}

footer {
  padding: 25px;
}

footer a {
  text-decoration: none;
}
footer a:hover {
  text-decoration: none;
  text-decoration: underline;
}

@media (max-width: 991px) {
  .hidden-md-down {
    display: none !important;
  }

  #banner {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

@media (min-width: 992px) {
  .hidden-lg-up {
    display: none !important;
  }

  .phone {
    text-align: right;
  }

  .mail {
    text-align: left;
  }
}

#quickDatePop.dropdown {
    margin-top: 24px;
    margin-left: 7px;
}

.top-row * {
  color: #fff;
  font-size: 0.8rem;
  text-align: center;
}

.ui.card {
  width: 100%;
  border-radius: 2px;
}

.ui.card .content {
  padding: 7px;
}

.ui.card .content .header {
  font-size: 1rem !important;
  line-height: 1 !important;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
}