@font-face {
  font-family: 'Graphik-Medium';
  src: url("../fonts/graphik/Graphik-Medium.otf"); }

@font-face {
  font-family: 'Graphik-Regular';
  src: url("../fonts/graphik/Graphik-Regular.otf"); }

.navbar {
	background-color: transparent;
}

#logo {
  max-height: 40px;
}

.row {
  width: 100%;
}

#banner { 
	background: inherit;
	height: 370px;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 5px;
  height: 100%;
}

#banner .display-1 {
	font-weight: 500;
	text-align: left;
	color: #314151;
}

.display-3 {
  font-size: 4rem;
}

#banner h3 {
	text-align: left;
	color: #314151;
}

body {
	background-image: url(../img/trinagleskewBG.svg);
  background-repeat: no-repeat;
  background-size: 12000px 6928.20323px;
  background-position: center -2800px;
  background-color: #e0ebed;
  z-index: 10;
}

.coolFont {
  font-family: 'Graphik-Regular', Arial, Helvetica, sans-serif;
}
.bold {
  font-family: 'Graphik-Medium', Arial, Helvetica, sans-serif;
}

#redBox, #greenBox, #grayBox {
  color: white;
  cursor: pointer;
}

#redBox .col-3, #greenBox .col-3, #grayBox .col-3 {
  border-right: 1px solid white;
  height: 25px;
}

#redBox .col-9, #greenBox .col-9, #grayBox .col-9 {
  height: 30px;
  font-size: 12px;
  line-height: 14px;
}

.align-v {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.gridpos {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
}
.redBox {
  background-color: #F67F6A;
  border: 1px solid #F45d08;
}

.greenBox {
  background-color: #87cbcc;
  border: 1px solid #61a6a7;
}

.grayBox {
	background-color: #B4ACAA;
  border: 1px solid #928a88;
}

.border-right {
	border-right: 1px solid white;
}

.topBox {
	height: 140px
}

#mb-top, #mb-bottom {
	max-width: 800px;
}

#mb-right {
	position: relative;
	left: 171px;
	width: 96px;
	float: right;
}

#mb-left {
	float: left;
	width: 96px;
	position: relative;
	right: 1px;
}

.macbook {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 25px 50px 25px;
}
.macbook img {
  width: 100%;
}

@media (max-width: 991px) {
  nav .container {
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100%;
  }
}

#mb-container {
	margin-bottom: 50px !important;
	width: 800px;
  margin: 0 auto;
}

#mb-inner-container {
	width: 600px;
	height: 350px;
	overflow-y: scroll;
	float: left;
	position: absolute;
	left: 116px;
	bottom: 56px;
	margin-top: 15px;
	padding-right: 5px;
}

.widget-img {
	width: 100%;
}

.row {
	margin-bottom: 15px;
}

.mb-box {
	position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
}

.card-sm {
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 12px;
}

.card {
	position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
}

.jumbotron {
	border-radius: 0;
}

.btn {
	border-radius: 0;
}

.m-b-15 {
	margin-bottom: 15px;
}

.m-l-50 {
	margin-left: 50px;
}

.macScroll::-webkit-scrollbar {
    width: 5px;
}
 
.macScroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2); 
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
 
.macScroll::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0,0,0,0.5); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2); 
}
.macScroll::-webkit-scrollbar-thumb:window-inactive {
	background: #000; 
}

#icon-rows {
  text-align: center;
  margin-bottom: 50px;
}

#icon-rows .col .icon {
  color: white;
  font-size: 45px;
  text-align: center;
  text-shadow: 2px 1px #151c23;
}

#icon-rows p {
  color: white;
}

#contact {
  margin-top: 50px;
}

#popover {
  cursor: pointer;
}
#popover i {
  color: #0275d8;
}

#video {
  overflow-y: hidden;
}

#tryme {
  position: absolute;
  top: -6px;
  right: 4px;
}

#tryme img {
  width: 110px;
  transform: rotate(-38deg);
}

#tryme span {
  position: relative;
  bottom: 69px;
  left: 5px;
  font-size: 23px;
}

.btn-outline-secondary:hover {
  background-color: #3c4f63;
  border-color: #fff;
}

.btn-outline-secondary {
  color: #fff;
  text-transform: uppercase;
}

th {
  font-size: 10px;
  padding: 5px !important;
}

.apliaNewsData h5 a {
  font-size: 10px;
  margin-bottom: 3px;
}

.apliaNewsData h5 {
  line-height: 11px;
}

.apliaNewsData p {
  font-size: 8px;
  margin-bottom: 0;
}

.apliaNewsData a {
  font-size: 6px;
}

.apliaNewsData hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.scrollable {
  height: inherit;
  overflow-y: scroll;
}

.m-t-25 {
  margin-top: 25px;
}

.m-l-10 {
  margin-left: 10px;
}

.m-r-10 {
  margin-right: 10px;
}

.phone {
  /*margin-right: 50px;*/
  text-align: right;
}

.white {
  background: #fff;
  padding-top: 50px;
}

.black {
  color: #3a3a3a !important;
}

.row img {
  width: 100%;
}

footer {
  padding: 25px;
}

footer a {
  text-decoration: none;
}
footer a:hover {
  text-decoration: none;
  text-decoration: underline;
}
